DATABASE_URL=mysql+pymysql://root:yourpassword@localhost/inventorydb
SECRET_KEY=change-this-to-a-long-random-secret
ALLOWED_ORIGINS=http://localhost:4200
MYSQL_ROOT_PASSWORD=yourpassword
MYSQL_DATABASE=inventorydb
DOCKER_USERNAME=yourdockerhubusername
